<h2 class="text-info font-kirang-hearang">Skate fixers</h2>
<p>Founded in <script>document.write(new Date())</script>,  we continue to deliver  quality products on competitive prices. </p>
<p>Our website is really great, everything seems to work fine and we almost never get any exceptions, and when there are any, <a href="https://www.facebook.com/ceci2205"  target="_blank">Tsvetelin Yakimov </a>  fixes them.</p>