
::selection {
    text-shadow: none;
    /*background: #fed136;*/
    /* background: #FA6A2E; */
    background: rebeccapurple;
    color: white;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.bg-gray {
    background: #f8f8f8;
}

/* TABLE OF CONTENT

    0 fonts

    1 navbar
        1.1 searchbox
        1.2 notifications

    2 social button styles

    3 BACK TO TOP

    4 base layout styles

    5 sidebar
 */

/*
FONTS
 */

.font-cookie {
    font-family: Cookie, sans-serif;
    font-variant: normal;
}

.font-kirang-hearang {
    font-family: 'Kirang Haerang', cursive;
}

.font-2em {
    font-size: 2em;
}

.font-15em{
    font-size: 1.5em;
}

.font-cookie span {
    color: #5383d3;
}

/*
end fonts
 */

.bg-trans-dark {
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-trans-light{
    background-color: rgba(255,255,255,0.5);
}

.bg-trans-gray{
    border-top-color: rgba(169,169,169,0.5) ;
    background-color: rgba(169,169,169,0.5);
}

.stylish-trans-dark {
    background-color: rgba(62, 69, 81, 0.8);
}


.raw-content{
    white-space: pre-wrap;
}

/* navbar  */


nav.navbar.shrink {
    padding: 0px;
}


nav.navbar.shrink a {
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.3s ease;
}

nav.navbar.shrink .shopping-cart{
    width:30px;
    height: 30px;
    font-size: 13px;
    padding: 7px;
}

nav.navbar.shrink .shopping-cart-items-count{
    padding: 4px;
}

nav, nav.navbar.shrink, nav.navbar.shrink button, nav.navbar.shrink input, nav.navbar input {
    transition: all 0.3s ease;
}

.shopping-cart{
    width:40px;
    height: 40px;
    overflow: visible;
    background: black;
    padding: 10px;
    color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}

.shopping-cart .shopping-cart-items-count{
    position: absolute;
    top: -10px;
    left: -5px;
    text-align: center;
    width: 18px;
    height: 18px;
    background-color: #eb4800;
    color: white;
    font-size: 0.65em;
    border-radius: 50%;
    box-shadow: 1px 1px 1px gray;
}

        /* navbar search */
.search_container form
{
    display: inline-block;
    position: relative;
}
.header_search_input
{
    display: inline-block;
    width: 200px;
    height: 40px;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 49px;
    color: #FFFFFF;
}
.header_search_input::-webkit-input-placeholder
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: rgba(255,255,255,0.5) !important;
}
.header_search_input:-moz-placeholder
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: rgba(255,255,255,0.5) !important;
}
.header_search_input::-moz-placeholder
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: rgba(255,255,255,0.5) !important;
}
.header_search_input:-ms-input-placeholder
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: rgba(255,255,255,0.5) !important;
}
.header_search_input::input-placeholder
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: rgba(255,255,255,0.5) !important;
}
.header_search_icon
{
    position: absolute;
    top: 50%;
    left: 25px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
        /*end nabbar search */

        /*navbar notifications*/
#hidden-noti-bar {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    position: absolute;
    top: 30px;
    width: 500px;
    max-height: 400px;
    min-height: 70px;
    left: 1%;
    color: black;
    background: #fff;
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .0975);
    box-shadow: 0 0 5px rgba(0, 0, 0, .0975);
    display: none;
    overflow: auto;
    z-index: 1000000;
}

        /*end navbar notifications*/

/* end navbar */

/* SOCIAL button styles */
.btn-social {
    padding: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 2em;
}

.btn-fb {
    background-color: #3b5998 !important;
    color: #fff !important;
}

.btn-tw {
    background-color: #55acee !important;
    color: #fff !important;
}

.btn-gplus {
    background-color: #dd4b39 !important;
    color: #fff !important;
}

.btn-li {
    background-color: #0082ca !important;
    color: #fff !important;
}

.btn-dribbble {
    background-color: #ec4a89 !important;
    color: #fff !important;
}

/* END SOCIAL button styles */

/*
    BACK TO TOP
 */
.back-to-top {
    display: none;
    overflow: visible;
    padding: 0px;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 40px;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.back-to-top:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
    background-color: red;
}

.back-to-top .fa {
    position: absolute;
    font-size: 2.8em;
    left: 20px;
    top: 14px;
}


/*
    end BACK TO TOP
 */

/*base layout styles */
.navbar-filler{
    height: 80px;
}

/* end base layout styles */

/* sidebar */
.sidebar-section{

}

.sidebar-background{
    background: #ededed;
}

.sidebar-item{
    padding: 5px;
}

.side-product{
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.side-product:hover{
    background-color: #00c851!important;
    color: #fff!important;
}


/* end sidebar */

/* home banner  */
.home-banner-content{
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 100%;
}

.home-banner-info{
    background: rgba(0,0,0,0.4);
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: white;
}
/* !home banner */

/**
 Responsive
 */
@media screen and (max-width: 991px) {
    .language-selection div{
        display: inline-block;
    }
    .navbar-filler{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .back-to-top {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 20px;
    }
    .back-to-top .fa {
        font-size: 1.5em;
        left: 12px;
        top: 11px;
    }


}