<h2 class="text-info">Скейт ремонтьори</h2>
<p>Основани през <script>document.write(new Date())</script>,  ние продължаваме да доставяме качествена стока на изгодни цени. </p>
<p>Сайта ни е много хубав, всичко си му работи като хората и почти няма exception-и, а когато има, <a href="https://www.facebook.com/ceci2205"  target="_blank">Цветелин Якимов </a>  ги поправя.</p>