<p class="alert alert-warning">
    Нямате нито един адрес, следователно не можете да направите поръчка. Създайте адрес <a href="/users/addresses/add">тук</a>
и се върнете обратно, за да продължите.
</p>