<header>
    <nav class="navbar navbar-expand-lg navbar-dark stylish-trans-dark fixed-top" id="navbar-main">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/files/images/logo.png" class="" style="max-height: 50px;">Skate
                Fixers </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Продукти</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for cat in informer.getCategoriesToDisplay %}
                                <a class="dropdown-item p-1" href="#">{{ util.getLocalCategoryName(cat) }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    {% if informer.user %}
                        <li class="nav-item">
                            <a class="nav-link pointer" id="logout" href="#">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pointer" id="logout" href="#">{{ informer.user.username }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">{{ dict.login }}</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-2 d-flex align-items-center justify-content-center">
                        <a href="#" class="shopping-cart ">
                            <div class="shopping-cart-items-count">2</div>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline">
                            <input class="form-control mr-sm-2 btn-outline-cyan text-light" type="search"
                                   placeholder="Search" aria-label="Search">
                            <!--<button class="btn my-2 my-sm-0 btn-outline-success rounded" type="submit">Search</button>-->
                        </form>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>