<div class="scripts d-none">
    <script src="/styles/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/styles/plugins/materialDesignBootstrap/js/mdb.min.js"></script>
    <script src="/styles/js/custom.js"></script>
    <script src="/styles/js/lang-manager.js"></script>
</div>