{% extends '../base.html.twig' %}

{% block body %}
    <main>
    <div class="navbar-filler"></div>
    <div class="container">

        <div class="row">
            <div class="col-lg-9">
                {% embed '../partials/lang/' ~ locale ~'/order-success.html.twig' %} {% endembed %}
            </div>
            {% embed '../partials/sidebar/sidebar.html.twig' %}
                {% block sidebarBody %}
                    {% embed '../partials/sidebar/categories.html.twig' with {'title':dict.categories, 'categories':informer.getCategoriesToDisplay } %} {% endembed %}
                    {% embed '../partials/sidebar/products.html.twig' with {'products':informer.getNewProducts, 'title':dict.newProducts} %} {% endembed %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}