<div class="sidebar-item">
    <p class="font-15em">{{ title }}</p>
    <ul class="list-group" style="-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;">
        {% for brand in brands %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {% set brandName = brand.brandName %}
                <a href="/brands/{{ brandName }}">{{ brandName }}</a>
                <span class="badge badge-primary badge-pill">{{ brand.products|length }}</span>
            </li>
        {% endfor %}
    </ul>
</div>