<div class="sidebar-item">
    <p class="font-15em">{{ title }}</p>
    {% for product in products %}
        {% embed '../products/small-product-card.html.twig' %} {% endembed %}
    {% endfor %}
</div>