<div class="col-lg-3 sidebar-section {% block overrideBackgroundClass %}sidebar-background{% endblock %}">
    {% block sidebarBody %}
        <h3 class="font-kirang-hearang">Sidebar</h3>
    {% endblock %}
</div>