{% extends 'index.twig' %}

{% block workerBody %}

    <h3 class="text-info">{{ dict.brand }}: {{ dict.edit }}</h3>
    <div class="">
        {% embed 'partials/edit-brand-form.twig' %} {% endembed %}
    </div>


{% endblock %}

