{% extends 'index.twig' %}

{% block workerBody %}
<div class="col-md-4" id="brandEditHolder">
    <h3 class="text-info">{{ dict.brand  ~ ': ' ~ dict.select }}</h3>
    <select id="brandsList" class="form-control">
        {% for brand in brands %}
            <option>{{ brand.brandName }}</option>
        {% endfor %}
    </select>
    <button type="button" id="chooseBrand" class="btn btn-dark">{{ dict.select }}</button>
    <script>
        $(function () {
            $('#chooseBrand').on('click', function () {
                var brandName = $('#brandsList').val();
                location.href = "/brands/edit/" + brandName;
            });
        });
    </script>
</div>

{% endblock %}